
.login, .password {
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;
}
.forget-password {
  text-align: left;
  margin-left: 50px; 
  margin-top: 10px;
}
.input {
  margin-left: 40px;
  margin-top: 10px; 
  color: aqua;
}


.login {
  text-align: left;
  margin-left: 10px; 
  margin-top: 10px; 
}
.placeholder{
background-color: blueviolet;}